name: Rust

on: push

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        name: "Build and run tests"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: "Build"
              run: cargo build --verbose
            - name: "Run tests"
              run: cargo test --verbose

    lint:
        name: "Code and formatting check"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: "Prepare components"
              run: rustup component add rustfmt clippy
            - name: "Formatting"
              run: cargo fmt --all -- --check
            - name: "Clippy"
              run: cargo clippy --all-targets --all-features -- -Dwarnings
